# Database Name
dbname=dashboarddb

# Database HostName - default is localhost
dbhost=localhost

# Database Port - default is 27017
dbport=27017

# MongoDB replicaset
dbreplicaset=false
#dbhostport=[host1:port1,host2:port2,host3:port3]

# Database Username - default is blank
dbusername=dashboarduser

# Database Password - default is blank
dbpassword=dbpassword

#Collector schedule (required)
jenkins-cucumber.cron=0/5 * * * * *

#Jenkins server (required) - Can provide multiple
#jenkins-cucumber.servers[0]=http://192.168.56.133:8080
jenkins-cucumber.servers[0]=http://{{ jenkins_server }}:{{ jenkins_port }}

#Pattern to find cucumber reports file name
jenkins-cucumber.cucumberJsonRegex=cucumber.json
#jenkins-cucumber.cucumberJsonRegex=/var/lib/jenkins/workspace/Cucumber1/cucumber.json
#jenkins-cucumber.cucumberJsonRegex=

#Another option: If using same username/password Jenkins auth - set username/apiKey to use HTTP Basic Auth (blank=no auth)
#Jenkins Username 
jenkins-cucumber.username=xxxxx
#Jenkins Password
jenkins-cucumber.apiKey=yyyyy
